.main {
  height: 100vh;
  position: relative;

  .namecontainer {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left center;
    background-color: #3F3F3F;
    animation: slide 2s ease 0s 1 alternate none running;
  
  }

  .sectionstyles {
    width: 50%;
    height: 100vh;
    color: white;
    position: absolute;
    font-size: 1.5rem;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .linkcontainer {
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 0;
  }
}

.linkstyle{
  margin: 0 20px 0 20px;
  text-align: center;

  .linkcircle {
    width: 80px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: grey;
  }

  .labelstyle {
    font-size: 0.25rem
  }

}

@keyframes slide {
  0% {
    transform: scaleX(0.2);
  }


  100% {
    transform: scaleX(1)
  };
}