.itemcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
        width:90%;
    }

    h2 {
        text-align: center;
    }
    .comp {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        aspect-ratio: 16/9;
        border: 1px solid gray;
        border-radius: 2px;
    }
    .srccontainer {
        text-align: center;
    }
}